@import 'layout.scss';
.container{
    @include for-monitors-display{
        display: flex;
    }
}
.navigation {
    background-color: #ff7f50;
    min-height: $min-height;
    display: flex;
    flex: 1;

}
.products{
    @include for-tablet-display{
        display: flex;
    }
    @include for-monitors-display{
        flex:2;
    }
}
.products-list {
    background-color: #006400;
    min-height: $min-height;
    display: flex;
    flex: 1;
}

.news {
    background-color: #0ff;
    min-height: $min-height;
    display: flex;
    flex: 1;

}

span {
    margin: auto;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faebd7;
    border-radius: 4px;
    text-transform: lowercase;
}

