.header {
  height: 3em;
  background-color: #006400;
}
li {
  list-style: none;
}
.menu {
  margin: 0 0 0 3em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0;

  & .submenu {
    display: none;
    background-color: #ff7f50;
    position: absolute;
    color: #fff;
    padding: 0;
    min-width: 120px;
    z-index: 1;
    & .submenu__item {
      padding: 0 8px;
      &:hover {
        color: black;
      }
    }
  }
  & .menu__item {
    padding: 0 8px;
    display: block;
    height: 100%;
    color: #fff;
    line-height: 3em;
    cursor: pointer;

    &:hover {
      background-color: #9acd32;
    }
  }
  & .menu__item_active {
    color: yellow;
    &:hover .submenu {
      display: block;
    }
  }
}
