.header{
    height: 3em;
    background-color: #006400;
        
}
.menu{
    margin: 0 0 0 3em;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    & .submenu{
        display:none;
    }
    & .menu__item{
        list-style: none;
        padding: 0 8px;
        display: block;
        height: 100%;
        color:#fff;
        line-height: 3em;

        &:hover{
            background-color: #9acd32;
        }

    }
    & .menu__item_active {
        color:yellow;
        &:hover .submenu{
            display: block;
            background-color: #ff7f50;
            position: absolute;
            color:#fff;
        }
    }
}