@import 'breakpoints.scss';
* {
  box-sizing: border-box;
}
.square {
  height: 100px;
  width: 100px;
  margin: 8px;
  background-color: #ff7f50;
  @include for-medium-up {
    background-color: #8a2be2;
  }
  @include for-large-up {
    background-color: #a61;
  }
  @include for-extra-large-up {
    background-color: #c47;
  }
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-portrait-orientation {
    flex-direction: column;
  }
}
